.footerContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    flex-direction: flex-end;
    font-size: 0.8rem;
    color:red;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translate(-50%,0);
    font-weight: 200;
}