@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bold-800 {
  font-weight: 800;
}

.issues-page-form{
  display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.issues-page-form > input {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid red;
}